version: "3.9"
services:
  noise-analyzer:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    volumes:
      - ../src:/home/customuser/src
    working_dir: /home/customuser/src
    user: customuser